<div>
  <h2>Your Posts: </h2>
</div>

<br>

{{#if posts.length}}
<div>
  {{#each posts as |post|}}
    <div>
      <a href="dashboard/edit/{{id}}">
        <div>
          <div>Post Title: {{postTitle}}</div>
          <div>posted by {{user.username}} on {{format_date dateCreated}}</div>
        </div>  
      </a>
    </div>
  {{/each}}
</div>
{{/if}}

<footer class="footer ">
  <a href="/dashboard/new">New Post</a>
</footer>